<!--{{#each specific}}
<span>{{this.name}}</span>
<span>{{this.quantity}}</span>
<span>{{this.image}}</span>

<label for="Status">Status</label>
<input type="text" id="Name" name="Name" placeholder="{{this.status}}" />

{{/each}}

{{#each specific}}
<img src="{{this.image}}" alt={{{image}}} />
{{/each}}-->
